.github/CODE_OF_CONDUCT.md export-ignore
.github/CONTRIBUTING.md export-ignore
.github/ISSUE_TEMPLATE/bug_report.md export-ignore
.github/ISSUE_TEMPLATE/feature_request.md export-ignore
.github/SECURITY.md export-ignore
.github/pull_request_template.md export-ignore
.github/workflows/shellcheck.yml export-ignore
.gitignore export-ignore
README.md export-ignore
aur/PKGBUILD.0 export-ignore
doc/ADVANCED.md export-ignore
doc/BUILD.md export-ignore
doc/FAQ.md export-ignore
doc/USAGE.md export-ignore
